* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    background: rgb(92,72,66);
    background: linear-gradient(180deg, rgba(92,72,66,1) 0%, rgba(185,53,8,1) 100%, rgba(236,112,112,1) 100%);
}

img {
    max-width: 240px;
    min-height: 370px;
    position: relative;

}


.item {
    margin: 2rem 1.5rem;
    border: solid 4px rgb(239, 234, 234);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    filter: grayscale(100%);
}

.item:hover {
    transform: scale(1.15);
    transition: 500ms;
    border: rgb(130, 115, 115) solid 4px;
    box-shadow: rgba(248, 248, 117, 0.487) 5px 10px 15px 8px;
    filter: grayscale(0%);
}

#movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: beige;
    max-height: 2rem;
    width: 240px;
    position: absolute;
    bottom: 0;
}

h1 {
    font-size:small;
}

p {
    font-size: xx-small;
}